/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital@1&family=Montserrat:wght@300;400;500;700&display=swap");


body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}
