<div class="card">
  <div class="card-header">Manage Users</div>
  <div class="card-body">
    <h5 class="card-title">Users</h5>
    <a class="btn btn-success" routerLink="form"
      ><i class="fa-solid fa-plus"></i>New</a
    >
  </div>

  <div class="category-table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Is Admin</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isAdmin }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
            <button class="btn btn-success" (click)="updateUser(user.id)">
              <i class="fa-solid fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
