<div class="card">
  <div class="card-header">Sales Report</div>
  <div class="category-table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Total Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.user.name }}</td>
          <td>{{ order.totalPrice }}</td>
          <td>
            <button
              class="btn btn-danger"
              (click)="deleteOrder(order.id)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
            <button
              class="btn btn-success"
              (click)="showOrder(order.id)"
            >
              <i class="fa-solid fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
