<!--Carousel-->
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active item" data-interval="10">
      <img src="../../assets/images/c1.jpg" class="d-block" alt="..." />
    </div>
    <div class="carousel-item item" data-interval="10">
      <img src="../../assets/images/c4.jpg" class="d-block" alt="..." />
    </div>
    <div class="carousel-item item" data-interval="10">
      <img src="../../assets/images/c5.jpg" class="d-block" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<h1>Shop By Room</h1>
<div class="responsive">
  <div class="gallery">
    <a>
      <img src="../../../assets/images/room/lr.jpg"  width="600" height="400">
    </a>
    <div class="desc">Living</div>
  </div>
</div>
  
<div class="responsive">
  <div class="gallery">
    <a>
      <img src="../../../assets/images/room/br.jpg" width="600" height="400">
    </a>
    <div class="desc">Bedroom</div>
  </div>
</div>
  
<div class="responsive">
  <div class="gallery">
    <a>
      <img src="../../../assets/images/room/dr.jpg"  width="600" height="400">
    </a>
    <div class="desc">Dining Room</div>
  </div>
</div>
  
<div class="responsive">
  <div class="gallery">
    <a>
      <img src="../../../assets/images/room/sr.jpg" width="600" height="400">
      </a>
    <div class="desc">Study</div>
  </div>
</div>

<h1>Products Available</h1>
<!--Images of products-->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3 col-sm-6" *ngFor="let product of products">
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
</div>
