.carousel-inner .carousel-item > img {
  width: 100%;
}

h1{
  text-align: center;
  font-style: oblique;
}

div.gallery {
  margin: 20px;
  float: left;
  margin-left: 10px;
}


div.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: large;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
