i {
    margin-right: 10px;
}

.coupon-table {
    padding: 15px;
}

button {
    margin-right: 5px;
    width: 40px;
}

table, th, td {
    width: 60%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.card{
    margin: 10px;
}