<header>
  <div class="col-sm-2">
    <div class="logo">Shop For Home</div>
  </div>
</header>
<div class="register">
  <div class="panel">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-3 mb-3 shadow-lg p-3 text-center" id="register">
          <h3>Register</h3>
          <hr>
          <div [ngClass]="getClassName()" role="alert">
            {{ message }}
          </div>
          <form [formGroup]="form" class="text-left">
            <div class="form-group">
              <label>Name</label>
              <label *ngIf="form.controls['name'].invalid && isProcessing">
                <label *ngIf="form.controls['name'].errors['required']"
                  >*</label
                >
              </label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Enter your Full Name"
              />
            </div>
            <div class="form-group">
              <label>Email</label>
              <label *ngIf="form.controls['email'].invalid && isProcessing">
                <label *ngIf="form.controls['email'].errors['required']"
                  >*</label
                >
                <span *ngIf="form.controls['email'].errors['email']"></span>
                <span>&nbsp; is invalid</span>
              </label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="xyz@gmail.com"
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <label *ngIf="form.controls['password'].invalid && isProcessing">
                <label *ngIf="form.controls['password'].errors['required']"
                  >*</label
                >
              </label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                placeholder="Enter password"
              />
            </div>
            <div class="form-group">
              <label>Phone</label>
              <label *ngIf="form.controls['phone'].invalid && isProcessing">
                <label *ngIf="form.controls['phone'].errors['required']"
                  >*</label
                >
              </label>
              <input
                type="number"
                formControlName="phone"
                class="form-control"
                placeholder="Phone Number"
              />
            </div>
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Zip</label>
                  <input
                    type="text"
                    formControlName="zip"
                    class="form-control"
                    placeholder="Zip Code"
                  />
                </div>
              </div> 
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input
                    type="text"
                    formControlName="city"
                    class="form-control"
                    placeholder="City"
                  />
                </div>
              </div>
            </div> -->

            <!-- <div class="form-group">
              <label>Country</label>
              <input
                type="text"
                formControlName="country"
                class="form-control"
                placeholder="Country"
              />
            </div> -->

            <button class="btn btn-primary btn-block mt-3" (click)="signup()">
              Create Account
            </button>
          </form>
          <a class="link" routerLink="/login"
            >Already registered? Click to login</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
