.register {
  height: 100vh;
}

.register .panel {
  width: 650px;
  height: 525px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.link {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.logo {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

header {
  background: rgb(46, 71, 235);
  position: fixed;
  width: 100%;
  height: auto;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .logo{
    font-size: 20px;
   }
   header{
    max-width: 700px;
   }
  #register{
    position: absolute;
    top: 10%;
    left: 15%;
    margin-left: 10px;
  }
  .register .panel{
    width: 600px;
    margin-left: 20px;
  }
}