<div class="container text-center">
  <img src="../../../assets/images/tq.jpg">
  <br>
  <button class="btn btn-primary" (click)="back()">
    <i class="fa-solid fa-left-long"></i>
    Continue Shopping
  </button>
</div>
