<div class="search">
  <input
    type="search"
    name="search"
    id="search"
    placeholder="Search for your products..."
    class="search-input"
  />
  <i class="fa-solid fa-magnifying-glass"></i>
</div>