<div class="container">
  <div>
    <div class="button">
      <button class="btn btn-primary" (click)="back()">
        <i class="fa-solid fa-left-long"></i>
        Back To Cart
      </button>
    </div>
    <h1>Address Details</h1>
    <div class="form">
      <form [formGroup]="form">
        <div class="form-row row">
          <div class="form-group col-md-4">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="Name"
            />
            <small
              *ngIf="form.controls['name'].invalid && isSubmitted"
              style="color: red"
              >Name is required</small
            >
          </div>
          <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Email"
            />
            <small
              *ngIf="form.controls['email'].invalid && isSubmitted"
              style="color: red"
            >
              <span *ngIf="form.controls['email'].errors['required']"
                >Email is required</span
              >
              <span *ngIf="form.controls['email'].errors['email']"
                >Email is invalid</span
              >
            </small>
          </div>

          <div class="form-group col-md-4">
            <label for="phone">Phone</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              formControlName="phone"
              placeholder="Phone Number"
            />
            <small
              *ngIf="form.controls['phone'].invalid && isSubmitted"
              style="color: red"
              >Phone is required</small
            >
          </div>

          <div class="form-group col-md-4">
            <label for="apartment">Apartment</label>
            <input
              type="text"
              class="form-control"
              id="apartment"
              formControlName="apartment"
              placeholder="Apartment"
            />
            <small
              *ngIf="form.controls['apartment'].invalid && isSubmitted"
              style="color: red"
              >Apartment is required</small
            >
          </div>

          <div class="form-group col-md-4">
            <label for="street">Street</label>
            <input
              type="text"
              class="form-control"
              id="street"
              formControlName="street"
              placeholder="Street"
            />
            <small
              *ngIf="form.controls['street'].invalid && isSubmitted"
              style="color: red"
              >Street is required</small
            >
          </div>

          <div class="form-group col-md-4">
            <label for="zip">Zip Code</label>
            <input
              type="text"
              class="form-control"
              id="zip"
              formControlName="zip"
              placeholder="Zip"
            />
            <small
              *ngIf="form.controls['zip'].invalid && isSubmitted"
              style="color: red"
              >Zip is required</small
            >
          </div>
          <div class="form-group col-md-4">
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              formControlName="city"
              placeholder="City"
            />
            <small
              *ngIf="form.controls['city'].invalid && isSubmitted"
              style="color: red"
              >City is required</small
            >
          </div>
          <div class="form-group col-md-4">
            <label for="country">Country</label>
            <input
              type="text"
              class="form-control"
              id="country"
              formControlName="country"
              placeholder="Country"
            />
            <small
              *ngIf="form.controls['country'].invalid && isSubmitted"
              style="color: red"
              >Country is required</small
            >
          </div>
        </div>
        <button type="submit" class="btn btn-success btn1" (click)="placeOrder()">
          Proceed To pay
        </button>
      </form>
    </div>
</div>
