<div class="container">
  <div class="row" *ngIf="bedCategoryProducts">
    <div
      class="col-md-6 col-lg-3 col-sm-6"
      *ngFor="let product of bedCategoryProducts"
    >
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
</div>