<header>
  <div class="row row1">
    <div class="col-sm-2">
      <div class="logo">Shop For Home</div>
    </div>
    <div class="col-sm-8 col-md-7 col-lg-8"><app-search></app-search></div>
    <div class="col-sm-2 col-md-2 col-lg-2 icons">
      <app-user></app-user>
      <div></div>
      <i class="fa-solid fa-heart" routerLink="/wishlist"></i>
      <i class="fa-solid fa-cart-shopping" routerLink="/cart"></i>
    </div>
  </div>
</header>

<!--Adding navbar-->

<app-navbar></app-navbar>