.logo {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

i {
  margin-right: 20px;
  margin-top: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.icons {
  display: flex;
}

header {
  background: rgb(46, 71, 235);
}

.row1 {
  display: flex;
  align-items: center;
}

@media  screen and (max-width: 720px) {
  .row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem 0.5rem;
  }

  .icons {
    width: auto;
  }
}
