<div class="login-register">
  <div class="panel">
    <div class="row">
      <div class="col-sm-6 col-xs-12" id="login">
        <h5>Admin Login Page</h5>
        <hr>
        <form [formGroup]="form">
          <div class="form-group col-sm-10 col-xs-12 field">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Enter your email"
            />
            <small *ngIf="form.controls['email'].invalid && isSubmitted">
              <span *ngIf="form.controls['email'].errors['required']"
                >Email is required</span
              >
              <span *ngIf="form.controls['email'].errors['email']"
                >Email is invalid</span
              >
            </small>
          </div>
          <div class="form-group col-sm-10 col-xs-12 field">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter you password"
            />
            <small *ngIf="form.controls['password'].invalid && isSubmitted">
              Password is required
            </small>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn1"
            (click)="onSubmit()"
          >
            Login
          </button>
          <div class="col-md-12" *ngIf="isSubmitted && authError">
            <small style="color: red"
              >Please enter correct email and password</small
            >
          </div>
        </form>
        <br>
        <a class="link" routerLink="/signup">New user? Click to signup</a>
      </div>
    </div>
  </div>
</div>