.login-register {
  height: 70vh;
}

.login-register .panel {
  width: 900px;
  height: 500px;
  margin: 0 auto;
  margin-left: 30vw;
  margin-top: 20vh;
  
}

.link {
  margin-left: 52px;
  text-decoration: none;
  color: black;
}
.btn1 {
  width: 85%;
}

h5 {
  text-align: center;
  margin-top: 25px;
}

form {
  margin-top: 40px;
  margin-left: 40px;
}

.field {
  margin-bottom: 20px;
}

#login{
  border: 2px solid lightgray;
  padding: 10px;
  overflow: auto;
}

/*Adding responsivness*/
@media screen and (max-width: 700px) {
  #login{
    position: absolute;
    left: 0px;
  }
  
}
