<div class="dashboard">
  <div class="card">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
      <div class="row row1">
        <div class="col-sm-8 col-md-5 col-lg-2 card card-order" *ngIf="totalOrders">
          <div class="item">
            <span class="name">Orders : {{totalOrders}}</span>
          </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-3 card card-product">
          <div class="item">
            <span class="name">Products : {{totalProducts}}</span>
          </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-2 card card-user">
          <div class="item">
            <span class="name">Users : {{totalUsers}}</span>
          </div>
        </div>
        <!-- <div class="col-sm-8 col-md-5 col-lg-3 card card-sale">
          <div class="item">
            <span class="name">Sales: {{totalSales |currency:"INR":"symbol"}}</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
