.item {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.item .icon {
  font-size: 4em;
  margin-bottom: 15px;
  margin-top: 15px;
}

.item .name {
  font-size: 1.5em;
}

.item .num {
  margin-top: 60px;
  font-size: 2.5rem;
}

.item .sale {
  margin-top: 80px;
  font-size: 1.2rem;
}

.card{
  margin: 10px;
  overflow: auto;
}

.card-header{
  font-size: 20px;
}

.card-order, .card-product, .card-user, .card-sale {
  margin: 1rem;
  border: 2px solid rgb(158, 148, 148);
  width: 15vwvw;
}

.row1 {
  display: flex;
  justify-content: space-between;
}
