<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <a
    style="cursor: pointer; margin-left: 20px"
    class="navbar-brand text-dark"
    routerLink="home"
    >All Products</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon text-dark"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="mr-auto"></div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="sofa">Sofa </a>
      </li>

      <li class="nav-item itm">
        <a class="nav-link" routerLink="wall-accessories"> Wall Accessories </a>
      </li>
     
      <li class="nav-item itm">
        <a class="nav-link" routerLink="painting"> Painting </a>
      </li>
      <li class="nav-item itm">
        <a class="nav-link" routerLink="dining"> Dining & Bar </a>
      </li>

      <li class="nav-item itm">
        <a class="nav-link" routerLink="bed"> Bed </a>
      </li>

      <li class="nav-item itm">
        <a class="nav-link" routerLink="lighting"> Lighting </a>
      </li>

      <li class="nav-item itm">
        <a class="nav-link" routerLink="carpets"> Carpets </a>
      </li>
    </ul>
  </div>
</nav>
