.register {
  height: 70vh;
}

.register .panel {
  width: 900px;
  height: 525px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h5 {
  text-align: center;
  margin-top: 25px;
}
form {
  margin-top: 10px;
  margin-left: 30px;
}

.link {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

#register{
  border: 2px solid lightgray;
}

@media screen and (max-width: 700px) {
  #register{
    position: absolute;
    top: 10%;
    left: 15%;
    margin-left: 10px;
  }
  .register .panel{
    width: 600px;
    margin-left: 20px;
  }
}