<div class="container">
  <div class="cart">
    <div class="row">
      <div class="col-md-12">
        <div class="button">
          <button class="btn btn-primary" (click)="back()">
            <i class="fa-solid fa-left-long"></i>
            Continue Shopping
          </button>
        </div>
        <div class="num">
          <h3>My Wishlist</h3>
        </div>
        <div class="empty" *ngIf="cartItems.length <= 0">
          Wishlist Is Empty, Please add some items!
        </div>
        <div class="row item" *ngFor="let item of cartItems">
          <div class="col-md-2">
            <img
              class="cart-image"
              [src]="item.product.image"
              [attr.alt]="item.product.name"
            />
          </div>
          <div class="col-md-4">
            <div class="name">{{ item.product.name }}</div>
            <div class="price">{{ item.product.price | currency: "INR" }}</div>
            <div class="remove">
              <button class="btn btn-danger">
                <i class="fa-solid fa-trash" (click)="delete(item)"></i>
              </button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
