<div class="dropdown">
  <span> <i class="fa-solid fa-user"> </i></span>
  <div class="dropdown-content" *ngIf="userName">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
  <div class="dropdown-content" *ngIf="!userName">
    <button class="btn btn-success" (click)="login()">Login</button>
  </div>
</div>
