.cart {
  min-height: 500px;
}

.cart .button {
  margin: 20px 0;
}

.num {
  text-transform: uppercase;
}
h3{
  text-align: center;
}

.shipping {
  color: green;
}

.cart .cart-image {
  height: 120px;
  width: 100%;
}

.item {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 15px;
}

.name {
  font-weight: 500;
  font-size: 1.2em;
}

.remove {
  margin-top: 15px;
}

.quantity {
  margin: 25px 0;
}

.quantity input {
  width: 100%;
}

.subtotal {
  font-weight: 400;
}

.subtotal .value {
  color: green;
}

.empty {
    margin-top: 50px;
    font-size: 4rem;
}

.summary {
    margin-top: 50px;
  background-color: white;
  padding: 15px;
  border: 1px solid black;
}

.summary .summary-price {
  display: flex;
  margin: 15px 0;
}

.summary .summary-price span {
  display: block;
  width: 70%;
}

.summary .summary-price span:last-child {
  width: 20%;
  font-weight: 500;
}

.summary .summary-price .free {
  color: green;
}

.summary button {
  width: 100%;
}