<div class="card">
  <div class="card-header">Manage Categories</div>
  <div class="card-body">
    <h5 class="card-title">{{ editMode ? "Edit User" : "Add User" }}</h5>
    <!-- <p class="card-text">You can add or create users here</p> -->
    <button class="btn btn-primary" (click)="onSubmit()">
      <i class="fa-solid fa-plus"></i>{{ editMode ? "Update" : "Add" }}
    </button>
    <a class="btn btn-secondary" routerLink="form" (click)="cancel()">Cancel</a>
  </div>
  <div class="form">
    <form [formGroup]="form">
      <div class="form-row row">
        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Name"
          />
          <small
            *ngIf="form.controls['name'].invalid && isSubmitted"
            style="color: red"
            >Name is required</small
          >
        </div>

        <div class="form-group col-md-4">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Email"
          />
          <small
            *ngIf="form.controls['email'].invalid && isSubmitted"
            style="color: red"
          >
            <span *ngIf="form.controls['email'].errors['required']"
              >Email is required</span
            >
            <span *ngIf="form.controls['email'].errors['email']"
              >Email is invalid</span
            >
          </small>
        </div>
        <div class="form-group col-md-4">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Password"
          />
          <small
            *ngIf="form.controls['password'].invalid && isSubmitted"
            style="color: red"
            >Password is required</small
          >
        </div>
        <div class="form-group col-md-4">
          <label for="phone">Phone</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            formControlName="phone"
            placeholder="Phone Number"
          />
          <small
            *ngIf="form.controls['phone'].invalid && isSubmitted"
            style="color: red"
            >Phone is required</small
          >
        </div>
        <div class="form-group col-md-6">
          <label for="feature">Is Admin</label><br />
          <input
            type="checkbox"
            data-toggle="switchbutton"
            formControlName="isAdmin"
            data-onstyle="primary"
            data-offstyle="secondary"
          />
        </div>
      </div>
    </form>
  </div>
</div>
