.btn1 {
  margin: 1rem 0;
  width: 100%;
}

h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 25px;
}

img {
  height: 200px;
}
.card{
  border: 2px solid lightgray;
}
