.sidebar {
    position: fixed;
    width: 18rem;
    background-color:rgb(60, 60, 233);
    height: 100%;
    top: 0;
    overflow: auto;
}

.logo {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 30px;
}

.links ul {
    margin: 0;
    padding: 0;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
}

i {
    margin-right: 10px;
}

.links ul li a:hover {
    background-color: lightgray;
    color: black;
}

.logout {
    color: red;
}

/*Adding responsiveness*/
@media screen and (max-width: 700px){ 
    .sidebar{
        width: 100%;
        height: auto;
        background-color:rgb(60, 60, 233);
        position: relative;
    }
    .sidebar a{
        float: left;
    }
}
@media screen and (max-width: 400px) {
    .sidebar{
        width: 100%;
        height: auto;
        background-color:rgb(60, 60, 233);
        position: relative;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
