<div class="card">
  <div class="card-header">Manage Categories</div>
  <div class="card-body">
    <h5 class="card-title">Categories</h5>
    <a class="btn btn-success" routerLink="form"
      ><i class="fa-solid fa-plus"></i>New</a
    >
  </div>

  <div class="category-table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name of the category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td>
            <button
              class="btn btn-danger"
              (click)="deleteCategory(category.id)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
            <button
              class="btn btn-success"
              (click)="updateCategory(category.id)"
            >
              <i class="fa-solid fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
