<footer>
  <div class="row mt-3">
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <div>
        <p>SHOP FOR HOME</p> 
        <p>
          Here you can order anything you want by sitting at home. You ask we
          deliver.
        </p>
        <p> GL GROUP-A BATCH 2</p>
      </div>
    </div>
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <div>
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
        <p><i class="fas fa-home me-3"></i> New York, NY 12045, US</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          wipro@example.com
        </p>
        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
      </div>
  
    </div>
  </div>
 
</footer>