<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3 col-sm-6" *ngFor="let product of sofaCategoryProducts">
      <app-product-item [product]="product"> </app-product-item>
    </div>
  </div>
</div>
