.login {
  height: 100vh;
}

.login .panel {
  position: absolute;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  margin-left: 40vw;
  margin-top: 20vh;
}

.link {
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

h5 {
  text-align: center;
  margin-top: 40px;
}

form {
  margin-top: 40px;
  margin-left: 40px;
}

.field {
  margin-bottom: 20px;
  width: 200px;
}

#login{
  border: 1px solid lightgray;
  padding: 10px;
}

.logo {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

header {
  background: rgb(46, 71, 235);
  position: fixed;
  width: 100%;
  height: auto;
  overflow: auto;
}

/*Adding responsivness*/
@media screen and (max-width: 700px) {
 .logo{
  font-size: 20px;
 }
 header{
  max-width: 700px;
 }
 #login{
  position: absolute;
  left: 0px;
}
.login .panel{
  width: 80%;
  margin-left: 10vw;
}
}

