.logo {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

header {
    background: rgb(46, 71, 235);
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    overflow: auto;
}

/*Adding responsivness to header*/
@media screen and (max-width: 700px) {
   .logo{
    font-size: 20px;
   }
   header{
    max-width: 700px;
   }
}

