.wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content {
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 15px;
}

/*Adding responsivness*/
@media screen and (max-width: 700px) {
    .content{
        width: 100%;
        margin-left: 0px;
    }
}