i {
    margin-right: 10px;
}

.category-table {
    padding: 15px;
}

button {
    margin-right: 5px;
    width: 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.card{
    margin: 10px;
}