<div class="card">
  <div class="card-header">Manage Products</div>
  <div class="card-body">
    <h5 class="card-title">Products</h5>
    <a class="btn btn-success" routerLink="form"
      ><i class="fa-solid fa-plus"></i>New</a
    >
  </div>

  <div class="category-table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col-sm-4">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="col-sm-4">{{ product.name }}</td>
          <td><img src="{{ product.image }}" style="width: 150px;" alt="" /></td>
          <td>{{ product.price }}</td>
          <td>{{ product.countInStock }}</td>
          <td>{{ product.category.name }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteProduct(product.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
            <button class="btn btn-success" (click)="updateProduct(product.id)">
              <i class="fa-solid fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
